{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static "img/topo_logo.png" %}" type="image/x-icon">
  <script src="{% static " src/js/flowbite.min.js" %}"></script>
  <link href="{% static " src/css/styles_index_menu.css" %}">
  <link rel="stylesheet" href="{% static "src/css/output.css" %}">
  <title>Topoconstrucciones</title>

</head>

<body>

  <header>
    {% include "layouts/partials/menu.html" %}
  </header>

  <main>
    {% block content %}

    {% endblock %}
  </main>
</body>

</html>