{% load static %}

<header class="header">

  <div class="logo_menu">
    <img src="{% static 'images/topo_blanco_logo.png' %}" alt="logo_menu">
  </div>

  <div class="button">
    {% if user.is_authenticated %}
    <div>
      <a href="{% url 'logout_session' %}">Cerrar sesión</a>
    </div>
    {% endif %}
  </div>

</header>

<div class="menu">
  <nav>
    <a href="{% url 'index' %}" class="nav_menu">INICIO</a>
    <a href="{% url 'add_basica' %}" class="nav_menu">NUEVO REGISTRO</a>
    <a href="{% url 'ver_inicio' %}" class="nav_menu">HISTORIAL CARTERAS</a>
  </nav>
</div>