{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'src/css/output.css' %}">
  <script src="{% static 'src/js/add_cartera.js' %}" defer></script>
  <title>Añadir Cartera de Nivelación</title>
</head>

<body class="bg-gray-100">
  <h1 class="text-3xl font-black mb-6 text-center mt-5">
    <span class="from-yellow-400 to-orange-600 text-transparent bg-clip-text bg-gradient-to-l">Añadir Cartera de Nivelación</span>
  </h1>

  <div class="container mx-auto p-4">
    <!-- Botón Volver -->
    <button type="button" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900" onclick="window.location='{% url 'ver_inicio' %}';">
      Volver
    </button>

    <!-- Formulario para el primer punto BM -->
    <div id="bm-section" class="relative overflow-x-auto shadow-md sm:rounded-lg bg-opacity-90 bg-white dark:bg-gray-800">
      <form id="bm-form" method="post">
        {% csrf_token %}
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-black uppercase bg-amber-500 dark:bg-amber-700">
            <tr>
              <th scope="col" class="px-6 py-3">Tipo Punto</th>
              <th scope="col" class="px-6 py-3">Punto</th>
              <th scope="col" class="px-6 py-3">Altura Instrumental</th>
              <th scope="col" class="px-6 py-3">Vista (+)</th>
              <th scope="col" class="px-6 py-3">Vista (-)</th>
              <th scope="col" class="px-6 py-3">Cota</th>
            </tr>
          </thead>
          <tbody class="cuerpo-tabla-puntos-cartera">
            <tr class="dynamic-form fila-añadir-punto-inicial">
              <td class="px-6 py-4">
                <select name="tipo_punto" class="tipo-punto px-2 py-1 border rounded">
                  <option value="1">BM</option>
                </select>
              </td>
              <td class="px-6 py-4">
                <input type="text" name="punto" class="punto px-2 py-1 border rounded" value="BM001" readonly>
              </td>
              <td class="px-6 py-4">
                <input type="number" name="altura_instrumental" class="altura-instrumental px-2 py-1 border rounded" readonly>
              </td>
              <td class="px-6 py-4">
                <input type="number" name="vista_mas" class="vista-mas px-2 py-1 border rounded">
              </td>
              <td class="px-6 py-4">
                <input type="number" name="vista_menos" class="vista-menos px-2 py-1 border rounded" readonly>
              </td>
              <td class="px-6 py-4">
                <input type="number" name="cota" class="cota px-2 py-1 border rounded">
              </td>
            </tr>
          </tbody>
        </table>
        <div class="m-5 flex justify-between">
          <a href="#" class="boton-guardar-punto text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            Guardar Punto
          </a href="#">
          <span class="guardar-punto-resultado text-red-500 font-bold"></span>
        </div>
      </form>
    </div>

    <!-- Tabla para puntos adicionales -->
    <!-- <div class="relative overflow-x-auto shadow-md sm:rounded-lg bg-opacity-90 bg-white dark:bg-gray-800 mt-6">
      <form method="post">
        {% csrf_token %}
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-black uppercase bg-amber-500 dark:bg-amber-700">
            <tr>
              <th scope="col" class="px-6 py-3">Tipo Punto</th>
              <th scope="col" class="px-6 py-3">Punto</th>
              <th scope="col" class="px-6 py-3">Altura Instrumental</th>
              <th scope="col" class="px-6 py-3">Vista (+)</th>
              <th scope="col" class="px-6 py-3">Vista (-)</th>
              <th scope="col" class="px-6 py-3">Cota</th>
            </tr>
          </thead>
          <tbody id="form-container">
            {% for punto in puntos %}
            <tr class="dynamic-form">
              <td class="px-6 py-4">
                <select name="tipo_punto" class="tipo-punto px-2 py-1 border rounded">
                  <option value="Delta" {% if punto.tipo_punto == "Delta" %}selected{% endif %}>Delta</option>
                  <option value="Cambio" {% if punto.tipo_punto == "Cambio" %}selected{% endif %}>Cambio</option>
                </select>
              </td>
              <td class="px-6 py-4">
                <input type="text" name="punto" class="punto px-2 py-1 border rounded" value="{{ punto.punto }}">
              </td>
              <td class="px-6 py-4">
                <input type="number" name="altura_instrumental" class="altura-instrumental px-2 py-1 border rounded" value="{{ punto.altura_instrumental }}" readonly>
              </td>
              <td class="px-6 py-4">
                <input type="number" name="vista_mas" class="vista-mas px-2 py-1 border rounded" value="{{ punto.vista_mas }}">
              </td>
              <td class="px-6 py-4">
                <input type="number" name="vista_menos" class="vista-menos px-2 py-1 border rounded" value="{{ punto.vista_menos }}">
              </td>
              <td class="px-6 py-4">
                <input type="number" name="cota" class="cota px-2 py-1 border rounded" value="{{ punto.cota }}">
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="m-5 flex justify-between">
          <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            Guardar Puntos Adicionales
          </button>
        </div>
      </form>
    </div> -->

    <!-- Botón para salir -->
    <div class="m-5 flex justify-between">
      <button type="button" id="exit-button" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900" onclick="window.location='{% url 'ver_inicio' %}';">
        Salir
      </button>
    </div>
  </div>
</body>

</html>
