{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Añadir Cartera de Nivelación</title>
  <style>
    .hidden {
      display: none;
    }
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      document.getElementById("add-more").addEventListener("click", function (event) {
        event.preventDefault();
        let formIdx = document.querySelectorAll(".dynamic-form").length;
        let newForm = document.querySelector(".dynamic-form:first-of-type").cloneNode(true);

        //Actualiza el índice de los nuevos campos:
        newForm.innerHTML = newForm.innerHTML.replace(/__prefix__/g, formIdx);

        //Limpia los valores de los inputs en el formulario clonado:
        let inputs = newForm.querySelectorAll('input');
        inputs.forEach(function (input) {
          input.value = '';
        });

        document.getElementById("formset-container").appendChild(newForm);
        newForm.querySelector(".delete").classList.remove("hidden");
      });

      document.addEventListener("click", function (event) {
        if (event.target.classList.contains("delete")) {
          event.preventDefault();
          event.target.closest(".dynamic-form").remove();
        }
      });
    });
  </script>
</head>

<body>
  <h1>Añadir Cartera de Nivelación</h1>

  <form action="{% url 'add_cartera' basica.id %}" method="post">
    {% csrf_token %}
    <table>
      <thead>
        <tr>
          <th>Tipo Punto</th>
          <th>Punto</th>
          <th>Altura Instrumental</th>
          <th>Vista (+)</th>
          <th>Vista (-)</th>
          <th>Cota BM</th>
          <th>Cota</th>
        </tr>
      </thead>

      <tbody id="formset-container">
        {% for form in formset %}
        <tr class="dynamic-form">
          <td>{{ form.tipo_punto }}</td>
          <td>{{ form.punto }}</td>
          <td>{{ form.altura_instrumental }}</td>
          <td>{{ form.vista_mas }}</td>
          <td>{{ form.vista_menos }}</td>
          <td>{{ form.cota_inicial }}</td>
          <td>{{ form.cota_calculada }}</td>
          <td>
            {% if not form.instance.pk %}
            <a href="#" class="delete hidden">Eliminar</a>
            {% else %}
            <a href="#" class="delete">Eliminar</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <button type="button" id="add-more">Agregar Punto</button>
    <button class="delete-button" onclick="window.location='{% url 'ver_inicio' %}';">Guardar</button>

  </form>

  <button class="delete-button" onclick="window.location='{% url 'index' %}';">Volver</button>

</body>

</html>