{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Editar Cartera</title>
</head>

<body>
  <div class="form__update">

    <form action="{% url 'editar_cartera' pk=cartera.pk %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Guardar cambios</button>
    </form>

    <button class="delete-button" onclick="window.location='{% url 'ver_inicio' %}';">Cancelar</button>
    <button class="delete-button" onclick="window.location='{% url 'add_cartera' basica_id=cartera.basica_id %}';">Agregar Punto</button>

  </div>

</body>

</html>