<!-- ver_tabla.html -->
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Detalle de Tabla de Nivelación - {{ tabla.nombre }}</title>
</head>

<body>
  <h1>Detalle de Tabla de Nivelación - {{ tabla.nombre }}</h1>

  <table border="1">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Vista (+)</th>
        <th>Vista (-)</th>
        <th>Cota</th>
        <th>Altura Instrumental</th>
      </tr>
    </thead>
    <tbody>
      {% for punto in tabla.puntos.all %}
      <tr>
        <td>{{ punto.tipo }}</td>
        <td>{{ punto.vista_mas }}</td>
        <td>{{ punto.vista_menos }}</td>
        <td>{{ punto.cota }}</td>
        <td>{{ punto.altura_instrumental }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>
  <a href="{% url 'editar_nivelacion' tabla.id %}">Editar Tabla</a>
  <a href="{% url 'eliminar_nivelacion' tabla.id %}">Eliminar Tabla</a>
</body>

</html>