/*Inicio diseño login.html*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
    overflow: hidden;
    height: 100%;
    margin: 0;
}

body{
  background-image: url(img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", Helvetica, sans-serif
}

.header_logo{
  display: flex;
  justify-content: center;
}

.logo{
  height: 280px;
  align-items: center;
}

.login{
  height: calc(100vh - 360px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_container_ingreso{
  font-size:small;
  color: rgb(255, 255, 255);
  line-height:calc(7px)
}

.card_login{
  background-color: #251506a9;
  border: 1px solid #241d1d00;
  box-shadow: 0px 0px 25px #22222200;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content:center;
  align-items: center;
  min-width: 150px;
  border-radius: 20px;
  padding: 30px 30px;
  height:auto;
}

.form_control{
  display:flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  border-radius: 10px;
  width: 100%
}

.form_control--row{
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  font-size: small;
}

.form_input{
  font-size: medium;
  padding: 13px 40px;
  gap: 1rem;
  border-style: groove;
  border-image: linear-gradient(to left, rgb(255, 210, 63) 10%, rgba(240, 131, 38, 1) 100%) 1;
  color: #ffffff;
  background-clip: padding-box;
  background-color: transparent;
}

.form_button{
  font-size:medium;
  font-weight: 700;
  padding: 13px;
  gap: 1rem;
  border-radius: 20px;
  border: none;
  color: #000000;
  background: rgb(240,131,38,1);
  background: radial-gradient(circle, rgb(252, 161, 82) 1%, rgba(240,131,38,1) 100%);
  margin-top: 20px;
  width: 100%;
  transition: all .10s ease-in-out;
}

.form_button:hover{
  background: rgb(240,131,38,1);
  background: radial-gradient(circle, rgb(255, 210, 63) 1%, rgb(240,131,38,1) 100%);
}