*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* Estilos para la barra de navegación */

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--main-font-family);
}
  
.logo_menu img{
  height: 80px;
}
  
.button_logout{
  display: flex;
  font-family: var(--main-font-family);
}

.button{
  background: linear-gradient(to right, #f08326, #fde454);
  padding: 15px;
  border-radius: 30px;
  border: none;
  margin: 20px auto;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
  
.button:hover{
  background-color: #8f8f8f6e;
  color: #ffffff;
  transform: scale(1.1);
}

/* Estilos para el menú de navegación */

.menu-container{
  display: flex;
  justify-content: center;
  font-family: var(--main-font-family);
}

.menu{
  background: linear-gradient(to right, #f08326, #fde454);
  padding: 5px;
  border-radius: 30px;
  margin: 20px auto;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.menu nav{
  display: flex;
  justify-content: center;
}
  
.nav_menu{
  color: #000000;
  padding: 10px;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
  
.nav_menu:hover{
  background-color: #8f8f8f6e;
  color: #ffffff;
  transform: scale(1.1);
}
  
/* Para pantallas más pequeñas */
@media (max-width: 768px) {
  .menu {
     margin: 10px auto;
  }
}

/* Carrusel de imágenes de fondo */
.carousel-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: fade 30s infinite;
  opacity: 0;
}

.carousel-image:nth-child(1) {
  background-image: url("img/construccion.jpg");
  animation-delay: 0s;
}

.carousel-image:nth-child(2) {
  background-image: url("img/spt.jpg");
  animation-delay: 6s;
}

.carousel-image:nth-child(3) {
  background-image: url("img/geotecnia.jpg");
  animation-delay: 12s;
}

.carousel-image:nth-child(4) {
  background-image: url("img/deteccionenterrados.jpg");
  animation-delay: 18s;
}

.carousel-image:nth-child(5) {
  background-image: url("img/gpsantiguo.jpg");
  animation-delay: 24s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10%, 30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Estilo de typewriter */

.typewriter-container {
  font-family: var(--main-font-family);
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}

.typewriter-container span {
  border-right: 2px solid #ffffff;
  padding-right: 2px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #ffffff;
  }
}