/*Inicio diseño login.html*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

body{
  background-image: url('images/fondo_login.jpg');
  background-repeat: no-repeat;
  background-size:calc(100%);
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

.header_logo{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logo{
  height: 350px;
}

.login{
  height: calc(100vh - 350px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_login{
  display: flex;
  flex-direction: column;
  background-color: #2727279d;
  opacity:calc(95%);
  min-width: 320px;
  border-radius: 8px;
  padding: 20px;
  height: 200px;
  margin-bottom: 240px;
}

.form_control{
  display: flex;
  gap: 5px;
  padding: 5px;
  border-radius: 30px;
}

.form_control--row{
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: small;
}

.form_input{
  width: 100%;
  font-size: medium;
  padding: 10px;
  gap: 1rem;
  border-radius: 8px;
  color: #f08326;
  border: none;
}

.form_button{
  font-size: medium;
  font-weight: 600;
  width: 100%;
  padding: 10px;
  gap: 1rem;
  border-radius: 30px;
  border: none;
  color: #f08326;
  margin-top: 25px;
}