{% extends "layouts/index.html" %}

{% block content %}

<h1>Ver Cartera de Nivelación</h1>

<table>
  <thead>
    <tr>
      <th>Tipo Punto</th>
      <th>Punto</th>
      <th>Altura Instrumental</th>
      <th>Vista (+)</th>
      <th>Vista (-)</th>
      <th>Cota Inicial</th>
      <th>Cota Calculada</th>
    </tr>
  </thead>

  <tbody>
    {% for cartera in carteras %}
    <tr>
      <td>{{ cartera.tipo_punto }}</td>
      <td>{{ cartera.punto }}</td>
      <td>{{ cartera.altura_instrumental }}</td>
      <td>{{ cartera.vista_mas }}</td>
      <td>{{ cartera.vista_menos }}</td>
      <td>{{ cartera.cota_inicial }}</td>
      <td>{{ cartera.cota_calculada }}</td>
      <td>
        <button class="edit-button"
          onclick="window.location='{% url 'editar_cartera' pk=cartera.pk %}';">Editar</button>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="8">No hay carteras disponibles.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="info-actions">
  <button class="inicio-button" onclick="window.location='{% url 'ver_inicio' %}';">Volver</button>
</div>

{% endblock %}