{% extends "layouts/index.html" %}

{% block content %}

<table class="data-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ciudad</th>
      <th>Lugar</th>
      <th>Responsable</th>
      <th>Fecha</th>
    </tr>
  </thead>

  <tbody>
    {% for basica in basicas %}
    <tr>
      <td>{{ basica.nombre }}</td>
      <td>{{ basica.ciudad }}</td>
      <td>{{ basica.lugar }}</td>
      <td>{{ basica.responsable }}</td>
      <td>{{ basica.fecha }}</td>

      <td>
        <button class="edit-button" onclick="window.location='{% url 'editar_basica' basica.pk %}';">Editar
          Datos</button>
        <button class="edit-button" onclick="window.location='{% url 'editar_cartera' basica.pk %}';">Editar
          Cartera</button>
        <button class="delete-button"
          onclick="window.location='{% url 'eliminar_basica' basica.pk %}';">Eliminar</button>
        <button class="delete-button" onclick="window.location='{% url 'ver_cartera' %}';">Ver Cartera</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}