{% extends "layouts/index.html" %}

{% block content %}

<table class="data-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ciudad</th>
      <th>Lugar</th>
      <th>Responsable</th>
      <th>Fecha</th>
    </tr>
  </thead>

  <tbody>
    {% for basica in basicas %}
    <tr>
      <td>{{ basica.nombre }}</td>
      <td>{{ basica.ciudad }}</td>
      <td>{{ basica.lugar }}</td>
      <td>{{ basica.responsable }}</td>
      <td>{{ basica.fecha }}</td>
      <td>
        <button class="edit-button" onclick="window.location='{% url 'editar_basica' basica.pk %}';">Editar</button>
        <button class="delete-button"
          onclick="window.location='{% url 'eliminar_basica' basica.pk %}';">Eliminar</button>
      </td>
    </tr>
    {% endfor %}

    <thead>
      <tr>
        <th>Tipo Punto</th>
        <th>Punto</th>
        <th>Vista (+)</th>
        <th>Altura Instrumental</th>
        <th>Vista (-)</th>
        <th>Cota</th>
      </tr>
    </thead>

    {% for cartera in carteras %}
    <tr>
      <td>{{ cartera.tipo_punto }}</td>
      <td>{{ cartera.punto }}</td>
      <td>{{ cartera.vista_mas }}</td>
      <td>{{ cartera.altura_instrumental }}</td>
      <td>{{ cartera.vista_menos }}</td>
      <td>{{ cartera.cota }}</td>
      <td>
        <button class="edit-button" onclick="window.location='{% url 'editar_cartera' cartera.pk %}';">Editar</button>
        <button class="delete-button"
          onclick="window.location='{% url 'eliminar_cartera' cartera.pk %}';">Eliminar</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}